<!DOCTYPE html>
<html ng-app="lv">
	<head>
		<link rel="stylesheet" type="text/css" href="assets/semantic/semantic.min.css" />
		<link rel="stylesheet" type="text/css" href="assets/style.css" />
		<script type="text/javascript" src="assets/jquery.js"></script>
		<script type="text/javascript" src="assets/semantic/semantic.min.js"></script>
		<script type="text/javascript" src="assets/angular.min.js"></script>
		<script type="text/javascript" src="assets/firebase.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="./index_files/d3fire.min.js"></script>
		<script type="text/javascript" src="assets/angularfire.min.js"></script>
		<script type="text/javascript" src="assets/script.js"></script>
		<script type="text/javascript" src="assets/slider.js"></script>
	</head>
	<body>
		<div class="ui fixed main menu">
			<div class="container">
				<div class="title item">
					<strong>Interactive Lectures:</strong> Lecturer View
				</div>

			</div>
		</div>

		<div ng-controller="lecture">
			<div class="container">
				<h1 ng-show="!isUndefined(leccode)">Lecture Code: {{leccode}} (<span ng-bind="connections"></span> Connections)</h1>
				<div class="ui compact labeled icon button" ng-click="openLecture()">
				  <i class="thumbs up icon"></i>
				  Open Lecture
				</div>
			</div>
		</div>

		<div class="hashtags" ng-controller="hashtags">
			<div class="container">
				<ticker></ticker>
			</div>
		</div>
		<div class="footer">
			<div class="container" ng-controller="questions">
				<div class="ui fluid five item menu">
					<a class="item big" ng-click="send(1)">T/F</a>
				 	<a class="item big" ng-click="send(2)">2</a>
				  	<a class="item big" ng-click="send(3)">3</a>
				  	<a class="item big" ng-click="send(4)">4</a>
				  	<a class="item big" ng-click="send(5)">5</a>
				</div>
			</div>
		</div>

		<div id="outer-bar">
			<div id="time-bar">
			<div id="slider"></div>
		</div>
</div>
	</body>
</html>