#barchart rect {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.hashtag-content
{
	height:45px;
}

.icon.button
{
	float:left;
}

.inner
{
	width:900px;
	height:35px;
}

.field
{
	float:left;
	padding-left:20px;
}

#barchart
{
	padding-top:50px;
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 500px;
  margin:40px 0px 0px 0px;
  padding:0;
  position: relative;
}

#chart
{
	margin:0px auto;
	width:800px;
	height:500px;
}

#chart > svg
{
	/*margin:0px auto;*/
}

html,body{
	/*height: 100%;*/
	width:99%;
	
}

.container{
	width: 1000px;
	margin: 0 auto;
}
.footer{
	position: bottom;
}


svg {
	width: 800px;
	height: 500px;
}

path.slice{
	stroke-width:2px;
}

#markers
{
	height:30px;
}

#barchart-dialog
{
	opacity:0.97;
	border-radius:10px;
	z-index:999;
	background-color:white;
	width:500px;
	height:450px;
	position:absolute;
	-webkit-box-shadow: -1px 0px 25px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 0px 25px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 0px 25px 0px rgba(0,0,0,0.75);
	padding:20px;
}

.big.marker.icon
{
	cursor:pointer;
	margin-left:-17.5px;
	position:absolute;
	float:left;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

#outer-bar
{
	padding:0;
	margin:0;
	width:100%;
	background-color:#ccc;
	height:40px;
}

#time-bar
{
	position:absolute;
	background-color:#CCC;
	border-right:1px solid black;
	width:0%;
	cursor:pointer;
	height:40px;
}

#slider
{
	position:absolute;
	width:40px;
	background-color:#333;
	left:0%;
	height:40px;
	margin:0;
}
